<h1>welcome to Bookers !!</h1>

In Bookers,

you can share and exchange your opinions , inpressions , and emotions

about various books!

<p><%= link_to "log in", new_user_session_path,class: "btn btn-secondary" %> </p>
<p><%= link_to "sign up", new_user_registration_path,class: "btn btn-secondary"%></p>
